body {
    background: linear-gradient(#ffdde1, #ee9ca7);
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    margin: 0;
}

.slide {
    display: none;              
    min-height: 100vh;
    padding: 40px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slide.active {
    display: flex;              
}


.img {
    width: 220px;
    display: block;
    margin: 10px auto;
}

button {
    background: #e91e63;
    color: white;
    border: none;
    padding: 12px 22px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background: #d81b60;
}

#noBtn {
  position: relative;
}

p {
    max-width: 600px;
}

.center-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.center-btn button {
  padding: 14px 30px;
  font-size: 18px;
}

.firework {
  position: fixed;
  bottom: 0;
  font-size: 22px;
  animation: explode 2s ease-out forwards;
  pointer-events: none;
}

@keyframes explode {
  0% {
    transform: translateY(0) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translateY(-300px) scale(1.8);
    opacity: 0;
  }
}

.slide-img {
  width: 220px;
  margin-bottom: 20px;
}
